<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>{{{site-title}}}</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width">

			<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

            <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
			{{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}} 
    </head>

    <body>
			<header>

				<blockquote>
				<p>
				Programmers are always surrounded by complexity; we cannot avoid it. Our applications are complex because we are ambitious to use our computers in ever more sophisticated ways. Programming is complex because of the large number of conflicting objectives for each of our programming projects. If our basic tool, the language in which we design and code our programs, is also complicated, the language itself becomes part of the problem rather than part of its solution.
                </p>
                <cite>Tony Hoare</cite>
                </blockquote>

				<h1 id="title">{{site-title}}</h1>

				<p id="desc">
				Opake is a simple general-purpose programming language designed to make<br/> building
				and testing secure, distributed software systems intuitive and easy.
				</p>

				<div id="mainLinks">
				    <a href="/download">Download</a>
				    <a href="/docs">Get Started</a>
				    <a href="/docs">Libraries</a>
                </div>

				<ul class="navbar">
				{{#navbar}}
					<li><a href="{{{href}}}">{{label}}</a>
				{{/navbar}}
				</ul>
			</header>

