{{> header }}

		<div role="main">
            {{{intro}}}

            <p>
            <label>Program:</label>
            <select id="program">
                <option>factorial</option>
                <option>fibonacci</option>
            </select>
            <button id="load">Load</button>

            <label>Arguments:</label>
            <input type="text" width="100" id="args"/>
            <button id="run">Run</button>
            </p>

            <textarea name="editor" wrap="off" rows="20" cols="80"></textarea>
            <div id="output"></div>

            <div style="clear:both;"></div>
        </div>

<p class="hidden" id="fibonacci">/*
recursive fibonacci number calculator
this will kill your stack with surprisingly small n
can you see why?
*/

receive n;

if n < 0
    fail("whatsamatta, you?");

if n <= 1
    reply(n);

reply(recur(n - 1) + recur(n - 2));
</p>

<p class="hidden" id="factorial">/*
 recursive factorial calculator
*/

receive num;

if num < 0
    fail("I pity the fool!");

if num <= 1
    reply(1);

reply(num * recur(num - 1));
</p>

{{> footer }}

